*.cpython*
/scripts/build.txt
/system/loadlib
/tutorial/BANKDEMO_*
/tutorial/BANKDEMO.xml.bak
/tutorial/projects/Studio/cobol/.vs/BankDemo
/tutorial/projects/Studio/cobol/Bankdemo/obj
/tutorial/projects/Studio/cobol/Bankdemo/*.dep
/tutorial/projects/Studio/pli/.vs/BankDemo
/tutorial/projects/Studio/cobol/Bankdemo/obj
/tutorial/projects/Studio/pli/bankmain/bin
/tutorial/projects/Studio/pli/bankmain/obj
/tutorial/projects/Studio/pli/bankmain/*.def
/tutorial/projects/Studio/pli/bankmain/*.del
/tutorial/projects/Studio/pli/fetchables/bin
/tutorial/projects/Studio/pli/fetchables/obj
/tutorial/projects/Studio/pli/fetchables/*.def
/tutorial/projects/Studio/pli/fetchables/*.del
/BANKDEMO
/sources/Listing
/sources/generated
.terraform*
terraform.tfstate*
